$primary: #c0995e;
$secondary: #a88000;
$tertiary: #F8E4B6;

$light : #F7ECE1;

$usred : #D30624;
$eubrown : #8E3E00;
$asbrown : #533000;
$tablue : #183969;

// $cat1: rgb(115, 167, 189);
// $cat2: rgb(52, 74, 83);
// $cat3: rgb(152, 175, 186);
// $cat4: rgb(181, 150, 180);
// $cat5: rgb(128, 99, 128);
// $cat6: rgb(80, 67, 80);
// $cat7: rgb(182, 167, 181);
// $cat8: rgb(136, 101, 80);
// $cat9: rgb(28, 44, 69);

// $cat1dark: rgba(115, 167, 189, .9);
// $cat2dark: rgb(52, 74, 83, .9);
// $cat3dark: rgb(152, 175, 186, .9);
// $cat4dark: rgb(181, 150, 180, .9);
// $cat5dark: rgb(128, 99, 128, .9);
// $cat6dark: rgb(80, 67, 80, .7);
// $cat7dark: rgb(182, 167, 181, .7);
// $cat8dark: rgb(136, 101, 80, .9);
// $cat9dark: rgb(28, 44, 69, .9);

$black: #000000;
$white: #ffffff;