@font-face {
    font-family: 'header';
    src: url('files/Lora-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'header-bold';
    src: url('files/Lora-VariableFont_wght.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'body';
    src: url('fonts/Questrial-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'body-bold';
    src: url('fonts/Questrial-Regular.ttf');
    font-weight: bold;
    font-style: normal;
}



$font-header: 'header', sans-serif;
$font-header-bold: 'header-bold', sans-serif;
$font-regular: "body", sans-serif;
$font-regular-bold: "body-bold", sans-serif;
