@use '../variables/' as *;

.jcCards {
    position: relative;

    &__fullimg {
        align-content: center;

        img {
            border-radius: 500pc;
            border: 5px solid $primary;
            object-fit: cover;
            object-position: center;
        }
    }

    &__fullbody {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;

        h3 {
            width: 100%;
            font-weight: bold;
            font-size: 1.5rem;
            color: $secondary;
            margin-bottom: .75rem;
        }

        p:first-child {
            font-size: 1.25rem;
        }

        p {
            width: 100%;
            margin-bottom: .75rem;
        }
    }


    &__card {
        border-radius: 20px;
        border: 4px solid $secondary;
        padding: .75rem 1.25rem;
        text-align: center;
        cursor: pointer;
        transition: .25s ease-in-out;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 0px 32px -9px #8E8E8E;
        box-shadow: 0px 0px 32px -9px #8E8E8E;

        &:hover {
            border: 4px solid $primary;
        }

        img {
            margin: 0 auto;
            border-radius: 500px;
            height: 175px;
            width: 175px;
            margin-bottom: 1.5rem;
            object-fit: cover;
            object-position: center;
        }

        @include md {
            padding: 1.25rem 2.5rem;

            img {
                height: 250px;
                width: 250px;
            }
        }
    }

    &__cardmodal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: none;
        background: rgba(33,33,33,.8);
        z-index: 9;
    }

    &__cardmodalinner {
        background: white;
        border-radius: 20px;
        padding: 2.5rem; 
        width: 50%;
        margin: 0 auto;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30vh;
    }

    &__cardmodalimg {
        width: 350px;
        height: 350px;
    }

    &__cardmodalbody {
        width: calc(100% - 350px);
        padding-left: 1.5rem;
    }

    &--headline {
        padding-bottom: 2.5rem;
        // margin-bottom: 2.5rem;
        border-bottom: 1px solid;
    }
}