.masonry {
    display: flex;
    justify-content: space-between;

    &__block {
        width: 280px;
        height: 280px;
        margin-bottom: 6px;
        background-color: white;
    }

    &__reverse {
        flex-direction: row-reverse;
    }

    &__2 {
        .masonry__block:first-child {
            width: 570px;
        }
    }

    &__3 {
        .masonry__block:first-child {
            width: 570px;
            height: 570px;
        }

        .masonry__block:last-child {
            width: 280px;
            height: 570px;
        }
    }
}