// vars
@use '../variables/' as *;

.nav {
    z-index: 9999;
    position: relative;
    display: flex;

    &__nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        background: $white;
        padding-top: 2rem;

        li {
            padding: .5rem .75rem 0 .5 1.25rem;
            //margin: 0 .25rem;
            position: relative;
            width: calc(100vw - 4rem);
            color: $black;

            a {
                color: $black;
            }
        }
    }

    &__container {
        margin-top: 1.35rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        width: 100vw;
        min-width: 100%;
        position: absolute;
        top: 100%;
        right: -200%;
        transition: 0.35s ease-in-out;
        background: $white;
        border-bottom: 5px solid $black;

        &--active {
            right: -1.25rem;
            padding: 0 0 2rem 0;
        }

        li {
            a {
                border-bottom: 1px solid $black;
                margin-bottom: .5rem;
                width: 100%;
                display: block;
                padding-bottom: .5rem;
            }

            &.menu-item-has-children {
                padding-bottom: 0;

                >ul {
                    padding-left: 0;
                    display: block;
                    //padding: 0 .5rem .5rem .5rem;
                    background: $white;
                    color: $black;
                    padding-left: 1rem;

                    >li {
                        min-width: 10rem;
                        width: 100%;
                    }

                    &.menu-item-has-children {
                        >ul {
                            background: $white;
                            color: $black;
                            display: block;
                        }
                    }
                }
            }
        }

        li:last-child() {
            padding-right: 0;
        }
    }

    &__shop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: fit-content;
        min-width: 250px;
        align-items: center;
        width: 100%;
        padding-top: 2.5rem;

        li {
            padding: unset;

            a {
                padding: 1rem 1.25rem;
                margin: 0 .25rem;
                display: block;
                transition: .25s ease-in-out;

                i {
                    color: $black;

                    @include lg {
                        color: $white;
                    }
                }
            }

            &:hover {
                a {
                    i {
                        color: $primary;
                    }
                }
            }
        }
    }

    &__cart {
        position: relative;
        border-bottom: none;

        a {
            position: relative;
            border-bottom: none !important;
        }

        >span {
            position: absolute;
            top: .5rem;
            right: 1rem;

            p {
                background: #D9534F;
                border-radius: 20px;
                height: 15px;
                width: 15px;
                color: $white;
                position: relative;
                display: block;
                text-align: center;
                font-size: 0.7rem;
            }
        }
    }

    &__toggle {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-left: 0.5rem;
        cursor: pointer;

        span {
            height: 4px;
            width: 29px;
            content: "";
            background: $primary;
            margin: 0.4rem 0 0.4rem auto;
            transition: 0.25s ease-in-out;
        }

        span:first-child,
        span:last-child {
            width: 37px;
            margin: unset;
            background: $primary;
        }

        &--active {
            span {
                background: transparent;
                margin: 0;
                height: 0;
            }

            span:first-child,
            span:last-child {
                transform-origin: center;
                transform: rotate(-45deg);
                display: block;
                top: 2px;
                background: $primary;
                height: 4px;
                position: relative;
            }

            span:last-child {
                position: relative;
                top: -2px;
                transform: rotate(45deg);
            }
        }
    }

    @include md {
        &__container {
            &--active {
                right: -2.5rem;
            }
        }
    }

    @include lg {
        align-items: center;

        &__nav {
            flex-direction: row;
            background: $black;
            padding-top: unset;

            li {
                padding: 1.25rem .75rem;

                a {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }

            ul {
                justify-content: left;
            }
        }

        &__shop {
            width: 210px;
            justify-content: right;
            padding-top: unset;
        }

        &__container {
            overflow: unset;
            position: relative;
            right: unset;
            top: unset;
            width: 100%;
            flex-direction: row;
            justify-content: right;
            background: $black;
            margin-top: 0;

            li {
                color: $white;
                width: unset;
                padding: 1rem .75rem;
                //margin: 0 0.25rem;
                display: block;
                position: relative;

                &.menu-item-has-children {
                    position: relative;
                    padding-right: 2.5rem;

                    // padding-bottom: 1.5rem;
                    &::after {
                        position: absolute;
                        right: .5rem;
                        top: -2rem;
                        content: url("../images/caret-down-solid.svg");
                        height: .1rem;
                        width: .1rem;
                        display: block;
                        transform: scale(4);
                    }

                    >ul {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: $white;
                        color: $white;

                        li {
                            a {
                                color: $black;
                            }

                            &:hover {
                                transition: 0.25s ease-in-out;

                                a {
                                    color: $primary;
                                }
                            }
                        }

                        li.menu-item-has-children {
                            position: relative;

                            &::after {
                                position: absolute;
                                right: .5rem;
                                top: -2rem;
                                content: url("../images/caret-right-solid.svg");
                                height: .1rem;
                                width: .1rem;
                                display: block;
                                transform: scale(4);
                            }

                            >ul {
                                display: none;
                                position: absolute;
                                top: 0%;
                                left: 100%;
                                background: $white;

                                li {
                                    a {
                                        color: $black;
                                    }

                                    &:hover {
                                        transition: 0.25s ease-in-out;

                                        a {
                                            color: $primary;
                                        }
                                    }
                                }
                            }

                            &:hover {
                                >ul {
                                    display: block;
                                }
                            }
                        }
                    }

                    &:hover {
                        cursor: pointer;

                        >ul {
                            display: block;
                        }
                    }
                }

                a {
                    color: $white;
                    transition: 0.25s ease-in-out;
                }

                &:hover {
                    a {
                        color: $primary;
                    }
                }
            }
        }

        &__cart {
            padding: 0 !important;
            border-bottom: none;
        }

        &__toggle {
            @include md {
                display: none;
                padding-left: 1.5rem;

                span {
                    margin: 0.4rem auto;
                }
            }
        }
    }
}