@use '../variables/' as *;

.process {
    overflow: scroll;

    &__table {
        min-width: 800px;
        border: 1px solid $black;
    }

    &__header {
        background: $primary;
        color: $white;
    }

    &--right {
        td {
            text-align: right;
        }
    }

    thead {
        tr {
            th {
                padding: .5rem;
                border-bottom: 1px solid $black;
                border-right: 1px solid $black;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: .5rem;
                border-bottom: 1px solid $black;
                border-right: 1px solid $black;
            }
        }
    }
}